/*css*/
/*Sets the font to Montserrat*/
*{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
/*Makes the html document use 100% of avalible space so that the elements can use % of it*/
html, body{
	height: 100%;
}
header{
	height: 11.5%;
}
main{
	/*Makes the background cover the entire screen and not move when scrolling*/
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	padding:5%;
}
article{
	height:auto;
	width:100%;
	/*Flexbox so that the items in the articles align by row*/
	display: flex;
	flex-direction: row;
	padding:3em;
	/*Bottom margin inorder to make space inbetween the articles*/
	margin-bottom:1%;
}
iframe{
	vertical-align: middle;
}
/*Size of logo*/
.logoimg{
	height: 6em;
}
/*Makes the current page's link bold*/
.active .bold{
	font-weight: bold;
}
/*Removes padding from the bootstrap class navbar*/
.navbar{
	padding:0;
}
/*Makes the text only take up half the space in the article*/
.text{
	padding-right:3%;
}
.half_width{
	width:50%;
}
/*Special classes for find us since it has so little text*/
.find_us_text_container{
	width:25%;
}
.map_container{
	width:60%;
}
/*Makes the items inside use two columns, used on apply and curriculm*/
.two_col{
	columns: 2;
 	-webkit-columns: 2;
	-moz-columns: 2;
}
#bg_1{
	background-image: url(../assets/bg_1.png);
}

#bg_2{
	background-image: url(../assets/bg_2.png);
}
/*Breakpoint which makes it use this css code instead for smaller devices */
/*This is done to make the website more responsive*/
@media(max-width:1300px)
{
	article{
		display:flex;
		flex-direction: column;
	}
	.half_width{
		width: 100%;
	}
	.find_us{
		flex-direction: row;
	}	
	
	.map_container{
		width: 100%;
	}
	.img-fluid{
		display: none;
	}
}

