/*css*/
*{
	font-family: 'Montserrat', sans-serif;
}
html, body{
	height: 100%;
	margin:0;
}
header{
	max-height: 11%;
}
main{
	background-image: url("../assets/indexbg.png");
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	padding:5%;
	height: auto;
}
article{
	height:auto;
	width:100%;
	display: flex;
	flex-direction: row;
	padding:3em;
	margin:5em 0;
}
.logoimg{
	max-height: 6em;
}
.active{
	font-weight: bold;
}
.navbar{
	padding:0;
}
.textcontainer{
	width:50%;
	padding-right:5em;
}
.imagecontainer{
	width:50%;
}

