/*css*/
/*Sets the font to Montserrat*/
*{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
/*Makes the html document use 100% of avalible space so that the elements can use % of it*/
html, body{
	height: 100%;
}
header{
	height: 11%;
}
main{
	/*Makes the background cover the entire screen and not move when scrolling*/
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	padding:5%;
}
article{
	height:auto;
	width:100%;
	/*Flexbox so that the items in the articles aling by row*/
	display: flex;
	flex-direction: row;
	padding:3em;
	/*Bottom margin inorder to make space inbetween the articles*/
	margin-bottom:1%;
}
/*Size of logo*/
.logoimg{
	height: 6em;
}
/*Makes the current page's link bold*/
.active .bold{
	font-weight: bold;
}
/*Removes padding from the bootstrap class navbar*/
.navbar{
	padding:0;
}
/*Makes the text only take up half the space in the article*/
.text_container{
	width:50%;
	padding-right:3%;
}
/*Same for the image*/
.image_container{
	width:50%;
}
/*Curriuculum page needs different css because it only has text*/
.curriculum_main{
	padding:5% 20%;
}
.curriculum_article{
	
}
#index_bg{
background-image: url(../assets/index_bg.png);
}
#about_bg{
background-image: url(../assets/about_bg.png);
}

